<%= form_with(model: micropost) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
        <% micropost.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<span class="content"><%= micropost.content %></span>

<% @micropost.content = "You already requested this message" %>
<%   @micropost = Micropost.new(content: "Lorem ipsum") %>

<% end %>

