<h1>Editing Micropost</h1>

<%= render 'form3', micropost: @micropost %>
<% micropost.content = "You already requested this message" %>
<% @micropost.content = "You already requested this message" %>


<%= link_to 'Show', @micropost  %> |
<%= link_to 'Back', microposts_path %>


