<h1>Editing Micropost</h1>

<%= render 'form3', micropost: @micropost %>
<% micropost:@micropost.content = "You already requested this message" %>
<% micropost:@micropost = Micropost.new(content: "Lorem ipsum") %>


<%= link_to 'Show', @micropost %> |
<%= link_to 'Back', microposts_path %>


