<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @micropost.username %>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to microposts_path(@micropost),edit_micropost_path(@micropost) %>
 </p>


<%= link_to 'Back', microposts_path %>
